
.header {
  background: var(--color-surface);
  border-bottom: 1px solid var(--color-border);
  position: relative;
  z-index: 100;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}


.logo {
  font-weight: 700;
  font-size: 15px;
}


.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Avatar */
.userCircle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.04);
}

.logoutDesktop {
  display: none;
  background: transparent;
  border: 1px solid var(--color-border);
  padding: 6px 14px;
  border-radius: var(--radius-pill);
  color: var(--color-text);
  cursor: pointer;
}

.logoutDesktop:hover {
  border-color: var(--color-primary);
}
.burger {
  background: transparent;
  border: none;
  color: var(--color-text);
  font-size: 20px;
  cursor: pointer;
  padding: 4px;
}

.nav {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;

  background: var(--color-surface);
  border-top: 1px solid var(--color-border);

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 18px;

  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
}

.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.link {
  text-decoration: none;
  color: var(--color-text-muted);
  font-size: 14px;
  transition: 0.2s ease;
}

.link:hover {
  color: var(--color-text);
}

.active {
  color: var(--color-primary);
}

.logoutMobile {
  background: transparent;
  border: 1px solid var(--color-border);
  padding: 8px 14px;
  border-radius: var(--radius-pill);
  color: var(--color-text);
  cursor: pointer;
}

/* TABLET & DESKTOP*/

@media (min-width: 768px) {

  .burger {
    display: none;
  }

  .nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: auto;

    flex-direction: row;
    gap: 40px;
    padding: 0;
    border: none;
    background: transparent;
  }

  .logoutMobile {
    display: none;
  }

  .logoutDesktop {
    display: inline-flex;
  }

  .link {
    font-size: 14px;
    position: relative;
  }

  .active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
  }
}

@media (min-width: 1020px) {
  .inner {
    padding: 16px 24px;
  }

  .logo {
    font-size: 16px;
  }
}